@charset "utf-8";

body{
    background-color: rgb(240, 255, 253);
}

h1 {
    color: rgb(28, 171, 157);
    font-size: 50px;
    text-align: center;
}

p {
    color:midnightblue;
    font-size: 22px;
    text-align: center;
}